#delani {
          margin-top: 1000px;
          text-align: center;
        }
.logo {
        margin-top: 130px;
        margin-bottom: 50px;

}
.jumbotron-fluid {
                   background-image: url(../images/background/h_img.jpg);
                   display: cover;
                   height: 600px;
                   text-align: center;
                   margin-bottom: 20px;
                 }
.mouse {
         padding-top: 90px;
         display: center;
       }
.service {
           background-image: url(../images/background/s_image.jpg);
           color: whitesmoke;
           height: 300px;
           text-align: center;
           margin-bottom: 50px;
           margin-top: 50px;
           text-align: center;
         }
.service-p {
             margin-top: 20px;
             text-align: center;
             margin-bottom: 30px;
           }
#service {
           text-align: center;
           margin-top: 20px;
}
.about {
         text-align: center;
         color: black;
       }
h1, h3 {
         font-style: italic;
         font-weight: bolder;
         color: black;
         text-align: center;
       }
.What-we-do {
              padding-top: 10px;
              display: center;
              font-style: italic;
              margin-bottom: 10px;
            }
#management-icon, #development-icon, #design-icon{
                                                   margin-left: 50px;
                                                   margin-right: 0px;
                                                   padding-left: 50px;
                                                   cursor: pointer;
                                                 }
.management {
              margin-left: 50px;
              margin-right: 0px;
              padding-left: 50px;
            }
#management-p, #development-p, #design-p {
                                           display: block;
                                           margin-left: 10px;
                                           margin-right: 10px;
                                           padding: 10px;
                                           display: none;
                                           margin-top: 20px;
                                           text-align: center;
                                        }
.portfolio {
             padding-top: 20px;
             padding-bottom: 20px;
             text-align: center;
           }
.card-img1, .card-img2, .card-img3, .card-img4, .card-img5, .card-img6, .card-img7, .card-img8 {
                                                                                                 margin: 10px;
                                                                                                 background-color: transparent;
                                                                                               }                                                             
.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8 {
                                                                                         margin: 10px;
                                                                                         margin-bottom: 10px;
                                                                                         padding: 10px;
                                                                                         position: relative;
                                                                                         cursor: pointer;
                                                                                         color: black;
                                                                                         display: none;
                                                                                       } 
#pro {
       text-align: center;
       font-weight: bold;
       display: none;
       background-color: transparent;
             }
h4 {
     display: center;
     font-weight: bolder;
     font-style: italic;
   }
.image-fluid:hover { 
                     background-color: transparent; 
                     padding: 10px;
                     margin-bottom: 10px;                    
                   }
.contact-us {
              background-image: url(../images/background/c_image.jpg);
              color: white;
              height: 450px;
              display: transparent;
              margin-bottom: 20px;
              margin-top: 20px;
              text-align: center;
            }
.footer {
          text-align: center;
}
.form-group {
              background: transparent;
              color: white;
}
#name, #comment, #email {
                          background-color: transparent;
                          color: white;
}
.feedback {
            display: none;
            color: black;
            font-style: italic;
            font-weight: bolder;
}
input {
        color: blanchedalmond;
        background: transparent;
}