#delani {
          margin-top: 1000px;
          text-align: center;
        }
.logo {
        margin-top: 100px;
        margin-bottom: 50px;
      }
.jumbotron-fluid {
                   background-image: url(../images/background/h_img.jpg);
                   display: cover;
                   height: 600px;
                   text-align: center;
                   margin-bottom: 20px;
                 }
.mouse {
         padding-top: 90px;
         display: center;
       }
.service {
           background-image: url(../images/background/s_image.jpg);
           color: whitesmoke;
           height: 300px;
           text-align: center;
           margin-bottom: 50px;
           margin-top: 50px;
           text-align: center;
         }
.service-p {
             margin-top: 20px;
             text-align: center;
             margin-bottom: 0px;
           }
#service {
           text-align: center;
           margin-top: 20px;
           font-weight: bold;
}
.col-space {
             margin-top: 20px;
             margin-bottom: 20px;
           }
.image-fluid {
              max-width: 100%;
              height: auto;
             }
#head {
        margin-top: 20px;
        padding-top: 50px;
      }
.about {
         text-align: center;
         color: black;
       }
h1, h3 {
         font-style: italic;
         font-weight: bolder;
         color: black;
         text-align: center;
       }
.What-we-do {
              padding-top: 10px;
              display: center;
              font-style: italic;
              padding-bottom: 20px;
            }
#management-icon, #development-icon, #design-icon{
                                                   margin-left: 100px;
                                                   margin-right: 0px;
                                                   padding-left: 50px;
                                                   cursor: pointer;
                                                 }
.management {
              margin-left: 80px;
              margin-right: 0px;
              padding-left: 50px;
              display: center;
            }
.col-space {
             margin-top: 20px;
             margin-bottom: 20px;
            }
.image-fluid {
              max-width: 100%;
              height: auto;
             }
#management-p, #development-p, #design-p {
                                           display: block;
                                           margin-left: 10px;
                                           margin-right: 10px;
                                           padding: 10px;
                                           display: none;
                                           margin-top: 20px;
                                           text-align: center;
                                         }
.portfolio {
             padding-top: 20px;
             padding-bottom: 30px;
             padding-left: 9%;
             padding-right: 9%;
           }
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
                                                         margin: 10px;
                                                         background-color: transparent;
                                                       }                                                             
.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8 {
                                                                                         width: 100%;
                                                                                         height: 100%;
                                                                                         background-color: white;
                                                                                         opacity: 0.6;
                                                                                         position: absolute;
                                                                                         top: 0em;
                                                                                         display: none;
                                                                                         color: black;
                                                                                         font-size: 20px;
                                                                                       } 
#pro {
      margin-top: 30%;
      text-align: center;
      font-size: 25px;
     }
h4 {
     display: center;
     font-weight: lighter;
     font-style: italic;
   }
.image-fluid:hover { 
                     background-color: transparent; 
                     padding: 5px;
                     margin-bottom: 5px;                    
                   }
/* .contact-us {
              background-image: url(../images/background/c_image.jpg);
              color: white;
              height: 450px;
              display: transparent;
              margin-bottom: 20px;
              margin-top: 20px;
              text-align: center;
              padding-top: 20px;
            }
.footer {
          text-align: center;
        }
.form-group {
              background: transparent;
              color: white;
            }
#name, #comment, #email {
                          background-color: transparent;
                          color: white;
                        }
.submit {
        display: none;
        color: black;
        font-style: italic;
        font-weight: bolder;
      }
input {
        color: blanchedalmond;
        background: transparent;
      }  */
.mc_embed_signup {
                   background-image: url(../images/background/c_image.jpg);
                   color: white;
                   height: 450px;
                   display: transparent;
                   margin-bottom: 20px;
                   margin-top: 20px;
                   text-align: center;
                   padding-top: 20px;
                 }
.footer {
          text-align: center;
        }
.mc-field-group {
                 background: transparent;
                 color: white;
                }
#mce-FNAME, #mce-EMAIL, #mce-LNAME {
                                     background-color: transparent;
                                     color: white;
                                   }
.smc-embedded-subscribe {
                         display: none;
                         color: black;
                         font-style: italic;
                         font-weight: bolder;
                        }
input {
       color: blanchedalmond;
       background: transparent;
      }